* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
}

body {
  background-color: #fdf4e3;
}

@media screen and (max-width: 1280px){
  * {
    font-size: 18px;
  }
}

@media screen and (max-width: 810px){
  * {
    font-size: 14px;
  }
}

